@use "../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.round {
  @extend .rounded !optional;
}

.page-wrapper {
  @extend .container !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
}