@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

formbody {
  position:relative;
  height: 1ph;
  overflow: auto;
}

.h1-wrap {
  @extend .container !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
}

.h1-body {
  @extend .text-bg-light !optional;
  @extend .m-3 !optional;
  @extend .flex-row !optional;
  @extend .rounded !optional;
}

.hb1-wrap {
  @extend .m-md-3 !optional;
  @extend .p-md-1 !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .text-dark !optional;
}

.hb1-h1-wrap {
  @extend .m-md-0 !optional;
  @extend .m-lg-2 !optional;
  @extend .text-center !optional;
  @extend .rounded !optional;
  @extend .row !optional;
  @extend .bg-secondary !optional;
}

.hb1-h1 {
  @extend .p-md-3 !optional;
  @extend .font-weight-bold !optional;
  @extend .text-md-start !optional;
}

.rf1-ff {
  height: auto;
}

.rf1-form {
  height: auto;
}

.rf1-fi {
  @extend .form-item !optional;
}

.rf1-fi-ctrl {
  @extend .form-control !optional;
}

.rf1-fi-sct {
  @extend .form-select !optional;
}

.rf1-bx-ck {
  @extend .form-check !optional;
}

.rf1-fi-ck {
  @extend .form-check-input !optional;
}

.rf1-bx-rd {
  @extend .form-check !optional;
}

.rf1-fi-rd {
  @extend .form-check-input !optional;
}

.rf1-fi-rn {
  @extend .form-range !optional;
}

.rf1-txt {
  @extend .text-secondary !optional;
}

.rf1-lab-ck {
  @extend .form-check-label !optional;
}

.rf1-parsed-header {
  @extend .h3
}